<script>
   var notyf = new Notyf();
    var currentEvents = []; // Arreglo para rastrear los eventos en el calendario


    $.ajax({
      url: '{% url "get_docents" %}',
      method: 'GET',
      dataType: 'json',
      success: function (response) {
        // Obtiene el elemento select
        var select = $('#add-professors');
        // Agrega las opciones desde la respuesta JSON
        response.data.forEach(function (option) {
          select.append($('<option>', {
            value: option.id,
            text: option.first_name + ' ' + option.last_name
          }));
        });
  
        // Inicializa Select2
        select.select2({
          placeholder: 'Seleccione un Docente',
          theme: "bootstrap-5"
        });
      },
      error: function (error) {
        console.log(error);
      }
    });
  
    $("#add-professors").on('change', function () {
      var id = $("#add-professors").val();
  
      var containerEl = document.getElementById("external-events-list");
  
      var calendarEl = document.getElementById("kt_docs_fullcalendar_drag");
      var calendar = null;
  
      function clearEventList() {
        while (containerEl.firstChild) {
          containerEl.removeChild(containerEl.firstChild);
        }
      }
  
      function listEvents() {
        // Hacer una solicitud Ajax para obtener los eventos
        $.get('/get_subjects_assignament/' + id, function (data) {
          var events = data.data;
          clearEventList();
          events.forEach(function (event) {
            var title = event.subject + " - " + event.course;
            var eventId = event.id;
            var courseId = event.course__id;
            var duration = "00:45";
            var teacherId = id;
            var subjectId = event.subject_id;
            var courseId = event.course_id;
            var Day = "";
            var Start = "";
            var Column = "";
            // Crear un elemento de evento
            var eventItem = document.createElement('div');
            eventItem.className = "fc-event draggable-event";
            eventItem.setAttribute("data-event", JSON.stringify({
              title: title,
              duration: duration,
              courseId: courseId,
              eventId: eventId,
              teacherId: teacherId,
              subjectId: subjectId
            }));
            
            
            var eventText = document.createElement('p');
            eventText.className = "list-group-item list-group-item-action";
            eventText.textContent = title;
  
            eventItem.appendChild(eventText);
            containerEl.appendChild(eventItem);
  
            // Inicializar FullCalendar Draggable después de cargar los eventos
            new FullCalendar.Draggable(eventItem, {
              eventData: function (eventEl) {
                var json_event = eventEl.getAttribute("data-event");
                var event_array = JSON.parse(json_event);
                var event_title = event_array.title;
                return {
                    title: event_title,
                    duration: duration,
                    teacherId: teacherId,
                    courseId: event_array.course__id,
                    subjectId: event_array.subject__id,
                    eventId: event_array.eventId
                };
              },
            });
            // Agregar el evento al arreglo currentEvents
            currentEvents.push({
                title: title,
                duration: duration,
                courseId: courseId,
                subjectId: subjectId,
                eventId: eventId,
                teacherId: teacherId,
            });
          });
        });
      }
  
      listEvents();

      var urlDataEvents = 'http://127.0.0.1:8000/get_events/' + id;

      function saveSchedule(events) {
        return new Promise(function(resolve, reject) {
          $.ajax({
            url: '/save_schedule/',
            method: 'POST',
            dataType: 'json',
            data: {
              day: events.day,
              start: events.start,
              column: events.column,
              subjectId: events.subjectId,
              courseId: events.courseId,
              eventId: events.eventId,
              teacherId: events.teacherId,
              title: events.title,
            },
            
            success: function(response) {
              console.log(response);
              notyf.success(response.message);
              resolve(true);  // Resuelve la promesa con 'true' si la llamada fue exitosa
            },
            error: function(error) {
              console.log(error);
              notyf.error(error.responseJSON.message);
              resolve(false);  // Resuelve la promesa con 'false' si hubo un error en la llamada
            },
          });
        });
      }

      // Inicializar FullCalendar una vez que se hayan cargado los eventos
      calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'resourceTimeGridDay',
        headerToolbar: false,
        droppable: true,
        selectable: true,
        editable: true,
        allDaySlot: false,
        slotMinTime: "08:00:00",
        slotMaxTime: "18:00:00",
        slotDuration: "00:15",
        slotLabelInterval: "00:15",
        eventOverlap: false,
        contentHeight: 'auto',
        editable: true,
        eventDurationEditable: false,
        events : urlDataEvents,
        views: {
            resourceTimeGridFourDay: {
              type: 'resourceTimeGrid',
              duration: { days: 5 },
              buttonText: '5 days'
            }
          },
          resources: [
            { id: 'A', title: 'Lunes' },
            { id: 'B', title: 'Martes' },
            { id: 'C', title: 'Miercoles' },
            { id: 'D', title: 'Jueves' },
            { id: 'E', title: 'Viernes' }
          ],
        drop: function (arg, info) {
            // Obtener el evento desde el elemento arrastrado
            var json_event = arg.draggedEl.getAttribute("data-event");
            var dropDate = arg.date;
            var event = JSON.parse(json_event);
            // Obtener la columna (recurso) en la que se soltó el evento
            var columnId = arg.resource.id;

            // Formatear la hora
            var eventStart = calendar.formatIso(dropDate).substr(0, 19);
            console.log(eventStart);

            // Formatear el día
            var eventDay = calendar.formatIso(dropDate, {omitTimezoneOffset: true}).substr(0, 9);

            // Agregar la información al objeto evento
            event.day = eventDay;
            event.start = eventStart;
            event.column = columnId;

            console.log(event);
            
            saveSchedule(event) // Enviar el evento al servidor
           

        },
        eventClick: function (info) {
          // Obtener id del evento clickeado
            var eventId = info.event.id;

          // Eliminar el evento del calendario
            info.event.remove();
            delEvents(eventId); // Eliminar el evento del servidor
            listEvents();
        },
        eventDrop: function (info) {
        // Obtener los datos del evento clickeado
          var eventId = info.event.id;
          var title = info.event.title;
          var start = info.event.start;
          var end = '00:45:00';
          var resourceId = info.event._def.resourceIds[0];
          var extendedProps = info.event.extendedProps;
          
          console.log(info.event);
        // Formatear la hora
          var eventStart = calendar.formatIso(start).substr(0, 19);
          
          
        // subir los datos al servidor
          updateEvents(eventId, title, eventStart, end, resourceId, extendedProps);
        },
      });
  
      calendar.setOption('height', 250);
      calendar.render();

      
    });

    function updateEvents(id, title, start, end, resourceId, extendedProps) {
      // Enviar eventos al servidor para guardar/editar/eliminar
      $.ajax({
        url: '/update_event/',
        method: 'POST',
        data: {
            id : id,
            title : title,
            start : start,
            end : end,
            column : resourceId,
            teacherId : extendedProps.teacher,
            courseId : extendedProps.course,
            subjectId : extendedProps.subject,
        },
        dataType: 'json',
        success: function (response) {
          console.log(response);
          notyf.success(response.message);
        },
        error: function (error) {
          console.log(error);
          notyf.error(error.responseJSON.message);
        }
      });
    };

    function delEvents(id){
      $.ajax({
        url: '/delete_event/',
        method: 'POST',
        data: {id : id},
        dataType: 'json',
        success: function (response) {
          console.log(response);
          notyf.success(response.message);
        },
        error: function (error) {
          console.log(error);
          notyf.error(error.responseJSON.message);
        }
      });
    };
  
    
</script>