<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    Horarios - {% block title %}{% endblock %} | Liceo Lautaro
</title>

<!-- https://material.io/resources/icons/?style=baseline -->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
<!-- https://material.io/resources/icons/?style=outline -->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet">
<!-- https://material.io/resources/icons/?style=round -->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
      rel="stylesheet">
<!-- https://material.io/resources/icons/?style=sharp -->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
      rel="stylesheet">
<!-- https://material.io/resources/icons/?style=twotone -->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
      rel="stylesheet">

<link  href="/static/assets/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<link type="text/css" href="/static/assets/vendor/notyf/notyf.min.css" rel="stylesheet">

<link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">

<link	rel="stylesheet"	href="https://cdn.dhtmlx.com/fonts/wxi/wx-icons.css"/>
<link rel="stylesheet" href="https://snippet.dhtmlx.com/codebase/assets/css/eventCalendar_demos.css">
<link rel="icon" type="image/x-icon" href="/static/assets/img/favicon/logo.png">

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="min-vnhmin-vh-100">

    {% if departament.upper == "SECRETARIA" or departament.upper == "ADMIN" %}
      {% include 'includes/sidebar.html' %}
      {% else %}
      {% include 'includes/sidebar-view.html' %}
    {% endif %}

    
    <main class="content class="min-vnhmin-vh-100"">

      {% block content %}{% endblock content %} 

     
    </main>

  {% include 'includes/scripts.html' %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}  
      
</body>
</html>
