{% extends "layouts/base.html" %} {% block title %} Calendarios {% endblock %}

{% block stylesheets %}
<link type="text/css" href="/static/assets/scheduler/dist/event-calendar.css" rel="stylesheet">
<link type="text/css" href="/static/assets/scheduler/assets/demos.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">

{% endblock stylesheets %} {% block content %}
{% load static %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;

  }
  .cal-wrapper{background:#fff;max-width:1200px;margin:0 auto;padding:20px;
  border-radius:10px;}

  #calendar {


  }

  .fc-timegrid-slot-label {
    font-weight: 800;
  }

  .fc-timegrid-slots table tr {
    transition: all .15s ease;
  }

  .fc-timegrid-slots table tr:hover {
    background: #fffae2 !important;
    transition: all .15s ease;
  }

  .fc-timegrid-slots table tr:nth-child(4n + 1) {
    //background: #fffae2 !important;}

  .fc-timegrid-slot-label[data-time*=":15"],
  .fc-timegrid-slot-label[data-time*=":30"],
  .fc-timegrid-slot-label[data-time*=":45"] {
    font-size: 80%;
    opacity: 0.5;
    font-weight: 400;
  }




  .fc-timegrid-axis-frame:after {
    content: 'L';
    font-family: 'Times';
    line-height: 36px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 24px;
    color: #f16621;
 }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Calendario de Clases</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center pb-5">
    <select class="form-select mb-0" id="add-professors" name="add-professors" aria-label="" required>
      <option selected disabled>Seleccione Docente</option>
      
    </select>
  </div>
  <div class="row ">
      <div class="col-md-2 list-group border border-dark Regular shadow pt-2 pl-2 "style="max-height: 500px; overflow-y: auto;">
        <div id="external-events-list">
          
        </div>
      </div>
      <div class="col-md-10">
        <div class="customCalendar">
          <div id="kt_docs_fullcalendar_drag"></div>
        </div>
      </div>
  </div>
</div>

{% endblock content %}
{% block javascripts %}
{% include 'includes/table-calendar-editable.html' %}
{% endblock javascripts %}

